<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>

<table border="0" layout-align="center center" layout-wrap>
 <tr>
  <th>No.:</th>
  <td>{{vm.$index}}</td>
 </tr>
 <tr>
  <th>Nombre:</th>
  <td>{{vm.producto.nombre}}</td>
 </tr>
 <tr>
 <th>Descripción:</th>
 <td>{{vm.producto.descripcion}}</td>
 </tr>
</table>
</section>




<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
<md-button class="md-accent md-raised" ng-click="vm.eliminar()">Eliminar</md-button>
<md-button class="md-accent md-raised" ui-sref="app.productos"">Cancelar</md-button>
</section>


