<md-button class="md-raised" ui-sref="app.agregar_producto">Agregar Producto</md-button>

<md-card ng-repeat="producto in vm.productos">
 
 <md-card-title>
	 <md-card-title-text>
		<span class="md-headline">{{producto.id}}{{" "}}{{producto.nombre}}</span>
		<span class="md-subhead">{{producto.descripcion}}</span>
	 </md-card-title-text>
 </md-card-title>
 <md-card-action layout="row" layout-align="end center">
	<md-button class="md-accent md-raised">Editar</md-button>
	<md-button ng-click="vm.eliminar(producto.id)">Eliminar</md-button>
 </md-card-action>
</md-card>
