<md-button class="md-raised" ui-sref="app.agregar_producto">Agregar Producto</md-button>

<md-card ng-repeat="producto in vm.productos">
 
 <md-card-title>
	 <md-card-title-text>
		<span class="md-headline">{{$index+1}}{{" "}}{{producto.nombre}}</span>
		<span class="md-subhead">{{producto.descripcion}}</span>
	 </md-card-title-text>
 </md-card-title>
 <md-card-action layout="row" layout-align="end center">
	<md-button class="md-accent md-raised" ng-click="vm.editar(producto.id, ($index+1))">Editar</md-button>
	<md-button class="md-accent md-raised" ng-click="vm.eliminar(producto.id, ($index+1))">Eliminar</md-button>
 </md-card-action>
</md-card>
